{% extends "layout.html" %}

{% block title %}
    編集画面
{% endblock %}

{% block main %}
    <div class="h1 pb-2 mb-4 text-danger border-bottom border-danger">編集画面</div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card text-bg-light border-dark h-100" style="width: 26rem;">
                <img src="/static/images/test_image.jpg" class="card-img-top" alt="Image">
                <div class="card-body text-dark">
                    <div class="h5"card-title">Card title</div>
                    <div class="h6 card-subtitle">from: sosuke R34</div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer">
                    <small>登録日</small>
                </div>
            </div>
        </div> 
    </div>
{% endblock %}        
